/net/data.isilon/ag-cherrmann/lduttenhoefer/project/VAE_model/analysis
analysis/
/net/data.isilon/ag-cherrmann/lduttenhoefer/project/VAE_model/data
data/
/net/data.isilon/ag-cherrmann/lduttenhoefer/project/VAE_model/data_training
data_training/
